[Desktop Entry]
Type=Application
Name=Geogram
Comment=Resilient, Decentralized Communication
Exec=geogram
Icon=app_icon
Categories=Network;Communication;
Terminal=false
StartupWMClass=geogram
