[Desktop Entry]
Type=Application
Name=Geogram
Comment=Resilient, Decentralized Communication
Exec=geogram
Icon=geogram.radio
Categories=Network;Communication;
Terminal=false
StartupWMClass=geogram.radio
